@font-face {
  font-family: SegoeUI;
  src: url(./assets/fonts/SEGOEUI.TTF) format("truetype");
}
@font-face {
  font-family: Npitala;
  src: url(./assets/fonts/NPITALA.TTF) format("truetype");
}
* {
  margin: 0;
  outline: none;
}
