.contaner {
  text-align: center;
  width: 100%;
  display: block;
  height: 100%;
}
.contaner > img {
  max-width: 100%;
}
.contaner > a {
  padding: 5px;
  font-family: Npitala;
  font-size: 40px;
  text-decoration: none;
  color: rgb(9, 150, 160);
}
.contaner > a:hover {
  border-bottom: 1px solid rgb(9, 150, 160);
  border-radius: 15%;
}
